<ion-view view-title="Calendario">
  <ion-content>
   
 

    
  
<ion-slide-box >
    <ion-slide>
      <img src="img/calendario/1.jpg" width="100%">
    </ion-slide>
    <ion-slide>
    <img src="img/calendario/2.jpg" width="100%">
    </ion-slide>
    <ion-slide>
     <img src="img/calendario/3.jpg" width="100%">
    </ion-slide>
     <ion-slide>
      <img src="img/calendario/4.jpg" width="100%">
    </ion-slide>
     <ion-slide>
      <img src="img/calendario/5.jpg" width="100%">
    </ion-slide>
 <ion-slide>
      <img src="img/calendario/6.jpg" width="100%">
    </ion-slide>
  </ion-slide-box>


  </ion-content>
</ion-view>
