<ion-view view-title="Compras">
  <ion-content>
    <ion-list>

		<div class="item item-icon-right">	
			<a href="#/app/comprasdetail/Regaleria" >
				<h2>Regaleria</h2>
				<div class="flecha">
					<i class="icon icon-play"></i>
				</div>
			</a>
		</div>
		<div class="item item-icon-right">	
			<a href="#/app/comprasdetail/Chocolateria" >
				<h2>Chocolateria</h2>
				<div class="flecha">
					<i class="icon icon-play"></i>
				</div>
			</a>
		</div>
		<div class="item item-icon-right">	
			<a href="#/app/comprasdetail/Regionales" >
				<h2>Regionales</h2>
				<div class="flecha">
					<i class="icon icon-play"></i>
				</div>
			</a>
		</div>


    </ion-list>
  </ion-content>
</ion-view>