<ion-view view-title="Compras">
  <ion-content>
    <ion-list>

	<ion-refresher
	    pulling-text="Presionar par Actulizar..."
	    on-refresh="doRefresh()">
	  </ion-refresher>



		<div class="item item-icon-right">	
			<a href="#/app/comprasdetail/regaleria" >
				<h2>Regaleria</h2>
				<div class="flecha">
					<i class="icon icon-play"></i>
				</div>
			</a>
		</div>
		<div class="item item-icon-right">	
			<a href="#/app/comprasdetail/chocolateria" >
				<h2>Chocolateria</h2>
				<div class="flecha">
					<i class="icon icon-play"></i>
				</div>
			</a>
		</div>
		<div class="item item-icon-right">	
			<a href="#/app/comprasdetail/regionales" >
				<h2>Regionales</h2>
				<div class="flecha">
					<i class="icon icon-play"></i>
				</div>
			</a>
		</div>


    </ion-list>
  </ion-content>
</ion-view>