<ion-view view-title="Equipos">
  <ion-content>
    <div class="bar bar-header item-input-inset">
		<label class="item-input-wrapper">
		<i class="icon ion-ios-search placeholder-icon"></i>
		<input type="search" placeholder="Buscar"  ng-model="search">
		</label>
		</div>
    
  <ion-refresher
    pulling-text="Presionar par Actulizar..."
    on-refresh="refreshTeams()">
  </ion-refresher>


    <div class="list">

    <a ng-repeat="equipo in name | filter:search" class="item item-avatar item-icon-right" href="#/app/jugadores/{{equipo.id}}">
      <img src="http://www.navcoder.net/sistemas/content/public/{{equipo.escudo}}">
      <h2>{{equipo.name}} </h2>
     <i class="icon ion-arrow-right-c"></i>
    </a>


    

</div>
  </ion-content>
</ion-view>
