<ion-view view-title="">
  <ion-content>
  <div class="logo" >
	  <div>
  		<img src="img/logo.png">
	  </div>
  </div>
	
	<ion-slide-box   auto-play="true"  does-continue="true" class="box">
		<ion-slide>
			<img src="img/slide4.jpg">
		</ion-slide>
		<ion-slide>
			<img src="img/slide2.jpg">
		</ion-slide>
		<ion-slide>
			<img src="img/slide5.jpg" >
		</ion-slide>

	</ion-slide-box>

	<div id="sponsors">
		<div class="col text-center background4" id="sponsorPpal">
			<img src="http://lorempixel.com/900/118/sports" alt="">
		</div>
		<div class="childInline text-center background5">
			<div class="margin">
				<img src="http://lorempixel.com/100/100/sports" alt="" class="redondeada">
			</div>
			<div class="margin">
				<img src="http://lorempixel.com/100/100/sports" alt="" class="redondeada">
			</div>
			<div class="margin">
				<img src="http://lorempixel.com/100/100/sports" alt="" class="redondeada">
			</div>
			<div class="margin">
				<img src="http://lorempixel.com/100/100/sports" alt="" class="redondeada">
		  	</div>
		</div>
	</div>
	
  </ion-content>
</ion-view>