<ion-view view-title="">
  <ion-content>
  <div class="logo" >
	  <div>
  		<img src="img/logo.png">
	  </div>
  </div>
	
	<ion-slide-box   auto-play="true"  does-continue="true" class="box">
		<ion-slide>
			<img src="img/slide4.jpg">
		</ion-slide>
		<ion-slide>
			<img src="img/slide2.jpg">
		</ion-slide>
		<ion-slide>
			<img src="img/slide5.jpg" >
		</ion-slide>

	</ion-slide-box>

	<div class="redes col-xs-12">
		<a href="http://www.facebook.com" class="btn facebook"><i class="icon-facebook"></i></a>
		<a href="http://www.twitter.com" class="btn twitter"><i class="icon-twitter"></i></a>
		<a href="http://www.youtube.com" class="btn google-plus"><i class="icon-youtube"></i></a>
  	</div>

	<div id="sponsors">
		<h1>Sponsors</h1>
		<!--<div class="col text-center background4" id="sponsorPpal">-->
			<!--<img src="http://lorempixel.com/900/118/sports" alt="">-->
		<!--</div>-->
		<div class="childInline text-center">
			<div class="margin">
				<img src="img/sponsors/ensatur1.jpg" alt="" class="redondeada">
			</div>
			<div class="margin">
				<img src="img/sponsors/neuquentur4.jpg" alt="" class="redondeada">
			</div>
			<div class="margin">
				<img src="img/sponsors/handpatagonia_logo2.jpg" alt="" class="redondeada">
			</div>
			<div class="margin">
				<img src="img/sponsors/PEGAGRIPlogocuadrado3.jpg" alt="" class="redondeada">
		  	</div>
		</div>
	</div>

	  <div class="col-xs-10 col-xs-offset-1 novedades">
		  <h1>Novedades</h1>
		  <ul class="event-list">
			  <li>
				  <time datetime="2014-07-20">
					  <span class="day">4</span>
					  <span class="month">Jul</span>
					  <span class="year">2014</span>
					  <span class="time">ALL DAY</span>
				  </time>
				  <div class="info">
					  <h2 class="title">Independence Day</h2>
					  <p class="desc">United States Holiday</p>
					  <ul>
						  <li>
							  <a href="">www.lapaginaweb.com.ar</a>
						  </li>
					  </ul>
				  </div>
			  </li>

			  <li>
				  <time datetime="2014-07-20 0000">
					  <span class="day">8</span>
					  <span class="month">Jul</span>
					  <span class="year">2014</span>
					  <span class="time">12:00 AM</span>
				  </time>
				  <div class="info">
					  <h2 class="title">One Piece Unlimited World Red</h2>
					  <p class="desc">PS Vita</p>
					  <ul>
						  <li>
							  <a href="">www.lapaginaweb.com.ar</a>
						  </li>
					  </ul>
				  </div>
			  </li>

			  <li>
				  <time datetime="2014-07-20 2000">
					  <span class="day">20</span>
					  <span class="month">Oct</span>
					  <span class="year">2014</span>
					  <span class="time">8:00 PM</span>
				  </time>
				  <div class="info">
					  <h2 class="title">Mouse0270's 24th Birthday!</h2>
					  <p class="desc">Bar Hopping in Erie, Pa.</p>
					  <ul>
						  <li>
							  <a href="">www.lapaginaweb.com.ar</a>
						  </li>
					  </ul>
				  </div>
			  </li>

			  <li>
				  <time datetime="2014-07-31 1600">
					  <span class="day">31</span>
					  <span class="month">Oct</span>
					  <span class="year">2014</span>
					  <span class="time">4:00 PM</span>
				  </time>
				  <div class="info">
					  <h2 class="title">Disney Junior Live On Tour!</h2>
					  <p class="desc"> Pirate and Princess Adventure</p>
					  <ul>
						  <li>
							  <a href="">www.lapaginaweb.com.ar</a>
						  </li>
					  </ul>
				  </div>
			  </li>
		  </ul>
	  </div>
	
  </ion-content>
</ion-view>