<ion-view view-title="Jugadores">
  <ion-content>
    <div id="escudo">
      <img src="http://www.navcoder.net/sistemas/content/public/{{jugadores[0].escudo}}" alt="escudo">
    </div>

    <div ng-repeat="value in jugadores"  class="list">

      <div ng-repeat="jugador in value.players" class="item item-thumbnail-left restaurant">
  
            <img ng-if="jugador.foto == null " src="img/default.png">
           
            <img ng-if="jugador.foto != null " src="http://www.navcoder.net/sistemas/content/public/{{jugador.foto}}" ng-click="openModal(jugador)">



        <a href="">
          <h2>{{jugador.name}}</h2>
          <p>{{jugador.last_name}}</p>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
