<ion-view view-title>
    <ion-content>
<div class="list card">
  <div class="item ">
    <h2>{{rest.name}}</h2>
    <p>{{rest.type}}</p>
  </div>

  <div class="item item-body">

    <p>
    <i class="icon icon2-address"></i>
    {{rest.address}}
    </p>

    <p>
    <i class="icon icon2-phone-outline"></i>
    {{rest.phone}}
    </p>

    <p>
        <i class="icon icon2-globe"></i>
        <a href="{{rest.web}}" style="width: 80%;display:inline-block;vertical-align:top;">{{rest.web}}</a>
    </p>

 <p ng-bind-html="myHTML" id="textoHTML"></p>
            
    

    <p ng-repeat='img in rest.imagen '>
       <img class="full-image"  src="http://www.navcoder.net/sistemas/content/public/{{img}}">
    </p>
    
  </div>

 
    <div class="item item-image" id="mapa">
        <div id="maps"></div>
    </div>

    <a class="item item-icon-left ruta" href="#/app/map" ng-click="reload()">
        <i class="icon ion-android-locate calm"></i>
        <h2>¿Cómo llegar?</h2>
        <p>Desde mi ubicación actual</p>
    </a>

    </div>



        
    </ion-content>
</ion-view>