<div class="list">
    <div class="item item-avatar" id="restDescript">
        <img src="img/rest1.jpg">
        <h2>Noombre del restó</h2>
        <p>
            <i class="icon ion-location icon-right"></i>
            Dirección n° 1234
        </p>
        <p>
            <i class="icon ion-android-call icon-right"></i>
            54154 - 545465465
        </p>
        <p>
            <i class="icon ion-ios-world-outline icon-right"></i>
            nombre@dominio.com
        </p>
    </div>

    <div class="item item-image" id="mapa">
        <div id='map_canvas'></div>
    </div>

    <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-android-locate"></i>
        ¿Cómo llegar?
    </a>

</div>