<div class="list">
    <div class="item item-avatar" id="restDescript">
        <img src="img/rest1.jpg">
        <h2>Nombre del restó</h2>
        <p>
            <i class="icon ion-location icon-right"></i>
            Dirección n° 1234
        </p>
        <p>
            <i class="icon ion-android-call icon-right"></i>
            54154 - 545465465
        </p>
        <p>
            <i class="icon ion-ios-world-outline icon-right"></i>
            <a href="http://www.nombre@dominio.com">nombre@dominio.com</a>
        </p>
    </div>

    <div class="item item-image" id="mapa">
        <div id="maps">
    </div>

    <a class="item item-icon-left ruta" href="#/app/map">
        <i class="icon ion-android-locate calm"></i>
        <h2>¿Cómo llegar?</h2>
        <p>Desde mi ubicación actual</p>
    </a>

</div>