<ion-view view-title="Gastronomia">
  <ion-content>
    <ion-list>

<ion-refresher
    pulling-text="Presionar par Actulizar..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <h4>{{seccion}}</h4>

  <div class="list">
    <a ng-repeat="rest in rests" class="item item-thumbnail-left" href="#/app/playlists/{{rest.id}}" ng-click="getAddress({{rest}})">
     <img src="http://www.navcoder.net/sistemas/content/public/{{rest.imagen[0]}}">
     <h2>{{rest.name}}</h2>
	 <p>{{rest.address}}</p>
	 <p>{{rest.tel}}</p>
     <i class="icon ion-arrow-right-c"></i>
    </a>
    </div>

    </ion-list>
  </ion-content>
</ion-view>
