<ion-view view-title="Gastronomia">
  <ion-content>
    <ion-list>

<ion-refresher
    pulling-text="Presionar par Actulizar..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <h4>{{seccion}}</h4>


			<div ng-repeat="rest in rests" class="item item-thumbnail-left restaurant">
				<img src="http://www.navcoder.net/sistemas/content/public/{{rest.imagen[0]}}" ng-click="openModal(rest)">
				<a href="#/app/playlists/{{rest.id}}" ng-click="getAddress({{rest}})">
						<h2>{{rest.name}}</h2>
						<p>{{rest.address}}</p>
						<p>{{rest.tel}}</p>
				</a>
			</div>
		</div>




    </ion-list>
  </ion-content>
</ion-view>
