<ion-view view-title="Turismo">
  <ion-content>
    <ion-list>

	<ion-refresher
	pulling-text="Presionar par Actulizar..."
	on-refresh="doRefresh()">
	</ion-refresher>
	<div class="bar bar-header item-input-inset">
	<label class="item-input-wrapper">
	<i class="icon ion-ios-search placeholder-icon"></i>
	<input type="search" placeholder="Buscar"  ng-model="search">
	</label>
	</div>
	
        <div class="list">
			<div ng-repeat="turismo in rests | filter:search" class="item item-thumbnail-left restaurant">
				<img src="http://www.navcoder.net/sistemas/content/public/{{turismo.imagen[0]}}" ng-click="openModal(turismo)">
				<a href="#/app/playlists/{{turismo.id}}">
					<h2>{{turismo.name}}</h2>
					<p>{{turismo.address}}</p>
					<p>{{turismo.tel}}</p>
				</a>
			</div>
	 	</div>

    </ion-list>
  </ion-content>
</ion-view>